



      <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
          <div class="container">

            <ol>
              <li><a href="/contrate">Cuidadosos</a></li>
              <li>Perfil Cuidadoso</li>
            </ol>
            <h2>
              <%=cadastro.Nome %>
            </h2>

          </div>
        </section><!-- End Breadcrumbs -->

        <!-- ======= Portfolio Details Section ======= -->
        <section id="portfolio-details" class="portfolio-details">
          <div class="container">

            <div class="row gy-2">

              <div class="col-lg-5">
                <div class="portfolio-details-slider ">


                  <img class="pessoa2" src="data:image/jpeg;base64,<%=cadastro.FotoPerfil %>" alt="Imagem do Produto">



                  <div class="swiper-pagination"></div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="portfolio-info">
                  <h3>
                    <%=cadastro.Nome %> <% if(cadastro.TipoConta=='Administrador'){ %>
                      (<%=cadastro.TipoConta %>)
                      <% } %>
                      <% if(cadastro.id !=userId){ %>
                        <a title="Adicionar aos favoritos" href=""><span class="bi bi-heart"></span></a>
                        <% } %>

                        <% if(cadastro.id==userId){ %>
                            <button style="margin-left: 5%;" onclick="divft()" class="btn btn-outline-secondary   ">
                              Editar Foto Perfil
                            </button>
                            <% } %>
                           
                  </h3>



                    <div style="display: none;" class="container divft">

                      <form action="/UploadFTPerfil" method="POST" enctype="multipart/form-data">
                        <br>
                        <h6>Selecione sua foto</h6>
                        <input style="width: 98%;" class="btn  btn-outline-secondary   " type="file" name="imagem"
                          accept="image/*" required>
                        <input class="inpperf" type="hidden" name="id" value="<%=cadastro.id %>">

                        <br><br>
                        <button class="btn btn-success" type="submit">Enviar</button>
                      </form><br>

                    </div><br>






                  <ul>
                    <h4 style="text-align: center;">
                      <%=cadastro.Cidade %>
                    </h4><br>
                    <li><strong>Idade</strong>: <%=cadastro.DataNacimento%>
                    </li>
                    <li><strong>Gênero</strong>: <%=cadastro.Genero %>
                    </li>
                    <li><strong>Formação</strong>: <%=cadastro.Formacao %>
                    </li>
                    <li><strong>Contato</strong>: <%=cadastro.Celular %>
                    </li>
                    <li><strong>Email</strong>: <%=cadastro.Email %>
                    </li><br><br>
               
                  </ul>
                  <a href="https://drive.google.com/file/d/1wNSBzLihkc56ZYEGRNBgQhtNdpjDnbKQ/view?usp=sharing" download="BonsAtecedentes.pdf">Baixar Documento de Antecedentes Criminais</a>

                  <div style="text-align: center;" class="container ">
                    <br>
                    <hr>
                    <% if(cadastro.id !=userId){ %>

                      <% if(cadastro.TipoConta=='Cuidadoso') {%>
                      <form action="/contratar">
                        <input type="hidden" name="cuidadoso" value="<%=cadastro.id %>">
                        <h1>R$<%=cadastro.Diaria%>,00  </h1>
                        <button type="submit" style="width: 50%;" class="btn btn-success">Contrate</button>
                      </form>
                      <% }else if(cadastro.TipoConta =='CuidadosoAspirante'){ %>
                       

                        <% if(TipoConta == 'Administrador'){ %>

                          <form action="/AprovarCuidador" method="post">
                            <h5 for="">Ao aprovar <%=userName %> será registrado como Administrador Responsavel</h5>
                            <br>
                            <input type="hidden" name="idcuidadoso" value="<%=cadastro.id %>">
                            <input value="Aprovar Aspirante" type="submit" class="btn btn-outline-success">
                          </form>

                          <% } %>




                        <% } %>


                      <% }else{ %>
                        <button style="width: 50%;" class="btn btn-outline-success    ">Conta Administradora</button>
                        <% } %>
                          <br><br>
                  </div>
                </div>
             
              </div>

            </div>

          </div>
        </section><!-- End Portfolio Details Section -->
        <hr>
        
        <br>

        <div class="section-title">
          
        </div>
        <div style="background-color: #F3F5FA; display: block; width: 100vw;" class="container ">
          <div class="agenda">
            <div class="row gy-4 ">

              <% if(userId == cadastro.id){ %>

              <section id="portfolio" class="portfolio">
                <div class="container" data-aos="fade-up">

                 
                  
                  <div class="section-title">
                    <h2>Cuidadosos Aspirantes</h2>
                    <p>Este é um painel Administrativo</p>
                  </div>
          
                  <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                    <%for(let index = 0; index < aspirantes.length; index++){%>
          
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                      <div class="portfolio-img"><img src="data:image/jpeg;base64,<%=aspirantes[index].Foto %>" class="img-fluid" alt=""></div>
                      <div class="portfolio-info">
                        <h4><%=aspirantes[index].Nome %></h4>
                        
                        <div class="container ">
                        <a href="/Perfil/<%=aspirantes[index].id %>" class="details-link" title="Visualizar Perfil"><i class="bx bx-link"></i></a>
                      </div>
                      </div>
                    </div>
          
                    <% } %>
          
                  </div>
          
          
                </div>
              </section><!-- End Portfolio Section -->
          <% } %>


            </div>
          </div>
        </div>


        
        <hr>
        
        <div style="text-align: center;"><br>

         

              </h3>
        </div>
        
        <div style="display: none; background-color: #F3F5FA;" class="container divpubli ">
          <form action="/uploadpost" method="POST" enctype="multipart/form-data">
            <div style="text-align: center;" class="container">
              <div class="section-title"><br>
                <h2>Novo Post</h2>

              </div>
              <div class="row gy-4 ">
                <div class="form-group col-lg-6 ">

                  <br>
                  <h6>Selecione sua foto</h6>
                  <input style="width: 98%;" class="btn  btn-outline-secondary   " type="file" name="imagem"
                    accept="image/*" required>
                  <input class="inpperf" type="hidden" name="id" value="<%=cadastro.id %>">


                </div>
                <div class="form-group col-lg-6">
                  <br>
                  <label for="name">Assunto</label>
                  <input type="hidden" name="id" value="">
                  <input type="text" class="form-control" name="assunto" id="email" required>
                </div>

              </div>

              <br><br>
              <button class="btn btn-success" type="submit">Publicar</button>
              <br><br><br>
              <hr>

          </form>
          
        </div>
        </div>





          <section id="portfolio" class="portfolio">
            <div class="container" data-aos="fade-up">
      
              <div class="section-title">
                <h2>Publicações</h2> 
                <% if(cadastro.id==userId){ %>
                  <button onclick="divpubli()" class="btn btn-outline-secondary   ">
                    Nova Publicação
                  </button>
      
                  <% } %>
              </div>
              
      
             
      
              <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
      
                <%for(let index = 0; index < posts.length; index++){%>
                    
              
                  
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                  
                  <br><br>
                  <div class="portfolio-img"><img src="data:image/jpeg;base64,<%=posts[index].Foto %>" class="img-fluid" alt=""></div>
                  <div class="portfolio-info">
                    <% if(cadastro.id==userId){ %>
                    <div style=" display: flex; text-align: center;" class="container ">
                     
                      <button title="Editar Legenda" onclick="divuptpost('<%=index%>')" style="margin-left: 2%;"
                        class="btn  ">        <i class="bi bi-gear text-white "></i> </button>
                    

                    <form action="/deletarpubli" method="post"><input type="hidden" name="idperfi"
                      value="<%=cadastro.id %>"><input type="hidden" name="id" value="<%=posts[index].id %>"><button title="Deletar Publicação"
                      class="btn   "><i class="bi bi-trash text-white"></i></button></form>
                  </div>
                  <% } %>
                   
                    <h4><%=posts[index].Assunto %>  </h4>
                    <p><%=posts[index].NomeCadastro %></p>
                   
                    <div style="display: none;  width: 100%; text-align: center;" class="inpupdatepost<%=index %>">
                    
                      <div  class="form-group col-lg-12 editarpost">
                        <br>
                        <h6 style="color: white;" for="name">Nova Legenda</h6>
                        <form action="/updatepost" method="post">
                          <input type="hidden" name="idpost" value="<%=posts[index].id %>">
                          <input style="width: 180%;" type="hidden" name="idperfil" value="<%=cadastro.id %>">
                          <input type="text" class="form-control" name="novoassunto" id="email" required><br>
                          <button class="btn btn-outline-light  ">Atualizar</button>
                        </form>
                      </div>
                    </div>
                    <div class="container ">
                  </div>
                  </div>
                </div>

                
                
      
                <% } %>

      
              </div>
              
      
            </div>
          </section><!-- End Portfolio Section -->
      


      </main><!-- End #main -->


    


